* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 1440px;
    /* border: 1px solid chocolate; */
}

.main-header{
    display: flex;
    flex-direction: column;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    /* background-color: rgb(188, 248, 248); */
    
}
.main-header h1{
    margin-top: 30px;
    text-align: center;
}

.left{
    display: flex;
    background-color: gray;
    width: 50px;
    /* height: 50px; */
    height: auto;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    color: #fff;

}

.right {
    display: inline-flex;
}

.right li {
    list-style-type: none;
    padding: 10px;
}

.mission{
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(188, 248, 248);
}

.mission p, .mission h2, .info, .header-nav{
    background-color: bisque;
}

.mission p {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.vision h2, .expertise h2, .experts h2, .vision p, .mission h2,.expertise-area h3 {
    text-align: center;
}

.vision , .expertise, .experts {
    margin-top: 50px;
}

.expertise{
    display: flex;
    flex-direction: column;
    
}

.expertise-areas{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.expertise-area{
    height: 200px;
    width: 200px;
    margin-top: 20px;
    background-color: rgb(188, 248, 248);
}

.expertise-area h3{
    display: flex;
    /* border-radius: 0 0 15px 15px; */
    padding: 10px;
    background-color: bisque;
    height: 60px;
    align-items: center;
    justify-content: center;
}

.all-experts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

.first-three, .second-three{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.single-expert{
    margin: 20px;
}

.expert-img{
   width: 200px; 
   height: 200px;
   border-radius: 50%;
   background-color: rgb(188, 248, 248); 
}

.info{
    padding: 10px;
}

